.container {
  margin: 80px auto;
  width: 640px;
}

div.login {
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 20px;
    width: 310px;
}

h1 {
    margin: 0;
    padding: 10px;
    font-size: 24pt;
    text-align: center;
    color: white;
}

input[type=text], input[type=password] {
    margin: 5px 0px;
    padding: 0 5px;
    width: 310px;
    height: 40px;

    border: 5px solid;
    border-color: white;
    border-radius: 2px;
}

input[type=radio] {
    position: relative;
    bottom: 3px;
    margin-right: 4px;
    vertical-align: middle;
}

input[type=submit] {
    margin: 0;
    padding: 0 18px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    background: white;
    border: 5px solid;
    border-color: white;
    border-radius: 2px;
}

p.usertype {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;
    font-size: 10pt;
    line-height: 31px;
}

p.submit {
    margin: 5px 0px;
    text-align: right;
}
