/* The navigation bar. Uses a flexbox to horizontally lay out children. */
.navbar {
    top: 0px; /* This fixes an issue where the header's margin was setting itself to the content's */
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,0));
}

/* A column of the navbar (for links, logos, etc.). Uses a flexbox to vertically center children. */
.navbar-column {
    height: 100px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-column > a {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    color: rgba(255,255,255,0.75);
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}
.navbar-column > a:hover,
.navbar-column > a:focus {
    background-color: transparent;
    color: white;
    border-bottom-color: rgba(255,255,255,.25);
}
