@import url("fonts/fonts.css");

body {
    margin: 0;
    color: white;
    background-color: #333333;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #029EDC;
}

li {
    float: left;
}

a:link, a:visited {
    display: block;
    padding: 20px 20px;

    color: white;
    background-color: #029EDC;
    font-size: 16pt;
    font-family: "Strait", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
}

a.current {
    color: black;
    background-color: white;
    text-shadow: none;
}

h1 {
    font-family: "Strait";
    font-weight: normal;
    text-transform: uppercase;
}

img {
    margin-top: 4px;
}
