p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16pt;
    line-height: 150%;
    color: gray;
}

.main {
    display: inline-block;
    width: 70%;
    margin: 45px auto;
}

.segment{
	background-color: #111111;
	border: solid;
	border-color: white;
	height: 600px;
}

.bg-left {
    height: 100%;
    width: 15%;
    float:left;
    background-size: cover;
}

.bg-right {
    height: 100%;
    width: 15%;
    float: right;
    background-size: cover;
}

.space {
    margin: 25px;
    display: block;
}

.sspace {
    margin: 15px;
    display: block;
}

.center {
    text-align: center;
}

.left{
	text-align: left;
}

.leftMedia{
	width: 25%;
	float: left;
}

.mediachoice{
	width: 25%;
	display: inline-block;
}

.rightMedia{
	width: 50%;
	float: right;
}

.leftbox{
	float: left;
	width: 49.5%;
	border: solid;
	border-color: #333333;
	height: 600px;
}

.rightbox{
	float: right;
	width: 49.5%;
	border: solid;
	border-color: #333333;
	height: 600px;
}

img.players {
    width: 100%;
	border: solid;
	border-color: #333333;
}

img.vid{
	width: 100%;
	border: solid;
	border-color: #333333;
}

h2{
	display: right;
	font-size: 12pt;
	color: white;
	list-style-type: disc;
}


h1 {
    padding: 10px 20px;
	font-size: 20pt;
	color: white;
    background-color: #029EDC;
}

h1.light {
    color: black;
    background-color: white;
	font-size: 18pt;
}
h1.small{
	color: white;
	background-color: black;
	font-size: 90%;
}
